@page "/"
@using Blocktrust.CredentialBuilder.Client.Services
@using Blocktrust.CredentialBuilder.Client.Models
@using Blocktrust.CredentialBuilder.Client.Components
@inject IAgentService AgentService
@inject ISnackbar Snackbar

<PageTitle>Blocktrust.CredentialBuilder</PageTitle>
<MudStack Row="true">
    @if (AgentService.AgentsInMemory is not null && AgentService.AgentsInMemory.List.Any())
    {
        @foreach (var agent in AgentService.AgentsInMemory.List)
        {
            <CascadingValue Value="this">
                <AgentComponent Agent="agent"/>
            </CascadingValue>
        }
    }

    <CascadingValue Value="this">
        <AgentSetupComponent/>
    </CascadingValue>
    
    @if(AgentService.AgentsInMemory is null || !AgentService.AgentsInMemory.List.Any())
    {
        <MudPaper Class="mr-2 mt-4 pa-3" Style="width: 450px;  height: fit-content;">
            <MudStack Row="false">
                <div style="background: url(images/blocktrust_webcredentials.svg); height: 300px; width:100%; background-repeat: no-repeat"></div>
                <MudText Typo="Typo.h4">Welcome!</MudText>
                <MudText Typo="Typo.body2">The Credential Builder is a UI on top of a <em>Atala PRISM</em> agent. It is intended to help you on your journey to understanding <em>Atala PRISM</em>, or perhaps SSI in general..</MudText>
                <MudText Typo="Typo.body2">To start click on the big <strong>+</strong> sign on the left and connect to your first agent.</MudText>
                <MudText Typo="Typo.body2">If you don't have an API-key yet, please get in touch with the <MudLink Color="Color.Secondary" Typo="Typo.body2" href="https://atalaprism.io/" target="_blank">Atala team</MudLink> or join the <MudLink Color="Color.Secondary" Typo="Typo.body2" href="https://input-output.typeform.com/to/xfSQykYo" target="_blank">PRISM Pioneer program</MudLink>. If you're unsure what to expect, consider looking at the Atala PRISM documentation, which can be found <MudLink Color="Color.Secondary" Typo="Typo.body2" href="https://docs.atalaprism.io/" target="_blank">here</MudLink>. This UI offers an easy way to interact with the APIs described in the documentation under the section <em>API/Agent API</em></MudText>
                <MudText Typo="Typo.body2">If you prefer watching a brief introductory video, you can check it out here: <MudLink Color="Color.Secondary" Typo="Typo.body2" Href="https://www.youtube.com/watch?v=rgU69blFKVU" target="_blank">Introduction to the Credential Builder</MudLink>.</MudText>
                <MudText Typo="Typo.body2">Have fun building, and also check out the other products by <MudLink Color="Color.Secondary" Typo="Typo.body2" Href="https://blocktrust.dev" Target="_blank">blocktrust</MudLink></MudText>
            </MudStack>
    </MudPaper> 
    }

</MudStack>

@code {

    protected override async Task OnInitializedAsync()
    {
        await AgentService.GetAgents();
    }


    public void RefreshState()
    {
        this.StateHasChanged();
    }

}