@using Blocktrust.CredentialBuilder.Client.Models
@using Blocktrust.CredentialBuilder.Client.Services
<MudPaper Class="pa-2">
    @foreach (var connection in Agent.Connections.Connections)
    {
        @if (string.IsNullOrWhiteSpace(connection.Label) || connection.Label.Equals(ConnectionService.UnnamedConnectionLabel, StringComparison.InvariantCultureIgnoreCase))
        {
            <p>@connection.ConnectionId</p>
        }
        else
        {
            <p>@connection.Label</p>
        }
    }
</MudPaper>

@code {

    [Parameter]
    public Agent Agent { get; set; }

}

